spring:
  application:
    name: takehome
  datasource:
    url: jdbc:postgresql://localhost:5432/pefindo
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: 
    password: 
    properties:
      mail:
        smtp:
          auth: true
          starttls: 
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000


  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG

security:
  jwt:
    secret: 